
.tab-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
  background: #053742;
  margin: 0;
  padding: 2rem 1rem;
  color: #E8F0F2;
  border-radius: 2rem;
  @media (max-width: 769px) {
    padding: 2rem 0;
  }
}

.tab-header {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}

.tab-header li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

.tab-header li:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

.tab-header li:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

.tab-header li:hover {
  background: rgba(50, 224, 196, 0.15);
}
.tab-header li.active {
  background: #39A2DB;
}

